.Modal {
  display: none;
  border: 1px solid $colorBlue;
  box-shadow: 0px 0px 3px $colorDark;
  padding: 15px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: $fontPrimary;

  &.isOpen {
    display: flex;
  }
}