.Popover {
  position: relative;
  font-family: $fontPrimary;

  &-title {
    border: 1px solid $colorPrimary;
    padding: 15px;
    font-size: 16px;
  }
  &-content {
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
    font-size: 14px;
  }

  &.isOpen &-content {
    display: block;
  }
}