//@include font-face(myFont, fonts/myriadpro-regular);
//@font-face {
//    font-family: 'myFont';
//    src: url('../fonts/myriadpro-regular.eot') format('eot'),
//         url('../fonts/myriadpro-regular.otf') format('otf'),
//         url('../fonts/myriadpro-regular.svg') format('svg'),
//         url('../fonts/myriadpro-regular.ttf') format('ttf'),
//         url('../fonts/myriadpro-regular.woff') format('woff');
//  }
$colorBgr: #1edcb3;
$fontColor: #1f1033;
$borderStyle: 1px solid #f0e5ff;